{
	email admin@orbitsu.ru
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

orbitsu.ru, www.orbitsu.ru {
	request_body {
		max_size 512MB
	}

	reverse_proxy 127.0.0.1:8081 {
		transport http {
			read_timeout 30m
			write_timeout 30m
		}
	}
}

api.orbitsu.ru {
	request_body {
		max_size 512MB
	}

	reverse_proxy 127.0.0.1:8082 {
		transport http {
			read_timeout 30m
			write_timeout 30m
		}
	}
}

telephony.orbitsu.ru {
	request_body {
		max_size 512MB
	}

	reverse_proxy 127.0.0.1:8084 {
		transport http {
			read_timeout 30m
			write_timeout 30m
		}
	}
}

sip.orbitsu.ru {
	reverse_proxy 127.0.0.1:8088 {
		header_up Host {host}
		transport http {
			read_timeout 1h
			write_timeout 1h
		}
	}
}

# Fallback по IP, пока DNS не распространился
http://163.5.153.207 {
	request_body {
		max_size 512MB
	}

	reverse_proxy 127.0.0.1:8081
}

:8080 {
	reverse_proxy 127.0.0.1:8082
}