[beeline-provider-auth]
type=auth
auth_type=userpass
username=${BEELINE_SIP_AUTH_LOGIN}
password=${BEELINE_SIP_PASSWORD}

[beeline-provider-aor]
type=aor
contact=sip:${BEELINE_SIP_SERVER}:${BEELINE_SIP_PORT}
qualify_frequency=30

[beeline-provider]
type=endpoint
transport=transport-${BEELINE_SIP_TRANSPORT}
context=from-orbita-provider
disallow=all
allow=alaw,ulaw
outbound_auth=beeline-provider-auth
aors=beeline-provider-aor
from_user=${BEELINE_SIP_LOGIN}
from_domain=${BEELINE_SIP_SERVER}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
dtmf_mode=rfc4733
set_var=ORBITA_OFFICE_ID=${ASTERISK_DEFAULT_OFFICE_ID}

[beeline-provider-identify]
type=identify
endpoint=beeline-provider
match=${BEELINE_SIP_SERVER}

[beeline-provider-registration]
type=registration
transport=transport-${BEELINE_SIP_TRANSPORT}
outbound_auth=beeline-provider-auth
server_uri=sip:${BEELINE_SIP_SERVER}:${BEELINE_SIP_PORT}
client_uri=sip:${BEELINE_SIP_LOGIN}@${BEELINE_SIP_SERVER}:${BEELINE_SIP_PORT}
contact_user=${BEELINE_SIP_LOGIN}
contact_header_params=expires=300
retry_interval=60
forbidden_retry_interval=300
expiration=300
